---
layout: basic
---

<main class="container homepage-container">
  <div id="homepage" class="homepage-content" aria-label="Content">

    <div id="splash" class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1 id="name">Nick McCrea</h1>
      <h2 id="occupation">Software Engineer</h2>
      <nav>
        <ul class="nav">
          <li><a id="link-about" href="{% link about.md %}" tabindex="1">About</a></li>
          <li><a id="link-blog" href="{% link blog.md %}" tabindex="1">Blog</a></li>
          <li><a id="link-contact" href="{% link contact.md %}" tabindex="1">Contact</a></li>
        </ul>
      </nav>
    </div>


    <ul id="featured-posts" class="col-xs-12 col-sm-6 col-sm-offset-3">
      {% assign featured_posts = site.posts | where_exp: "post", "post.path contains '/featured/'" %}

      {% for post in featured_posts %}
        {% unless forloop.first %}<hr />{% endunless %}
        <li>{% include post-preview.html post=post elements="title description date" %}</li>
      {% endfor %}
    </ul>

  </div>
</main>

{% include footer.html %}