article.post {
  header {
    border-bottom:  1px solid $border-color;
    margin-bottom:  0.8em;
    padding-bottom: 0.8em;
  }

  h1 {
    margin-bottom:  5px;
  }

  .post-meta {
    color:      $secondary-color;
    font-style: italic;
  }
}