// Use all of the space on mobile.
@include media-xs-down {
  main.homepage-container { padding-top: 20px; }
}

#homepage {
  // Vertical Alignment - Landscape
  @include media-xs-down-landscape {
    #splash { margin-top: auto; }
  }
  @include media-sm-up-landscape {
    #splash { margin-top: 15%; }
  }
  @include media-md-up-landscape {
    #splash { margin-top: 10%; }
  }
  @include media-lg-up-landscape {
    #splash { margin-top: 10%; }
  }
  // Vertical Alignment - Portrait
  @include media-xs-down-portrait {
    #splash { margin-top: 10%; }
  }
  @include media-sm-up-portrait {
    #splash { margin-top: 25%; }
  }
  @include media-md-up-portrait {
    #splash { margin-top: 20%; }
  }
  @include media-lg-up-portrait {
    #splash { margin-top: 20%; }
  }

  #splash {
    @extend         .fancy-font;
    margin-bottom:  0.3rem;
    text-align:     center;

    #name {
      font-size:    3.3rem;
      font-weight:  bolder;
      margin:       0rem auto;
    }

    #occupation {
      font-size:      1.8rem;
      margin:         0.3rem auto 0.6rem;
    }

    a {
      @extend .link-black-and-red;
    }

    hr {
      border-top: 1px solid $border-color;
      margin:     0.5rem auto;
    }

    .nav {
      li {
        font-size:    0.8rem;
        font-weight:  bolder;
      }
    }

    @include media-xs-down-portrait {
      #name       { font-size: 2.9rem; }
      #occupation { font-size: 1.6rem; }
    }
  }
}