// Use all of the space on mobile.
@include media-xs {
  main.homepage-container { padding-top: 20px; }
}

#homepage {
  // Vertical Alignment - Landscape
  @include media-xs-landscape {
    #splash { margin-top: auto; }
  }
  @include media-sm-landscape {
    #splash { margin-top: 15%; }
  }
  @include media-md-landscape {
    #splash { margin-top: 10%; }
  }
  @include media-lg-landscape {
    #splash { margin-top: 10%; }
  }
  // Vertical Alignment - Portrait
  @include media-xs-portrait {
    #splash { margin-top: 10%; }
  }
  @include media-sm-portrait {
    #splash { margin-top: 25%; }
  }
  @include media-md-portrait {
    #splash { margin-top: 20%; }
  }
  @include media-lg-portrait {
    #splash { margin-top: 20%; }
  }

  #splash {
    @extend       .fancy-font;
    text-align:   center;

    #name {
      font-size:    3.8em;
      font-weight:  bolder;
    }

    #occupation {
      font-size:      2.1em;
      line-height:    0.8;
      margin-bottom:  0.6em;
      margin-top:     5px;
    }

    hr {
      border-top: 1px solid $border-color;
      margin:     7px;
    }

    .nav {
      li {
        font-size:    0.8em;
        font-weight:  bolder;
      }
    }

    @include media-xs-portrait {
      #name       { font-size: 3.5em; }
      #occupation { font-size: 1.8em; }
    }
  }
}