.content {
  margin-bottom:  20px;
  margin-top:     40px;
  @include media-sm-up { padding: 0; }

  ////
  // Typography

  @extend .content-font;

  p { margin: 0.7em 0px; }

  h1 {
    margin-top: 0px;
  }

  h1, h2, h3, h4, h5, h6 {
    @extend         .heading-font;
    margin-bottom:  0.5em;
    margin-top:     0.8em;
  }

  blockquote {
    border-left:  5px solid $border-color;
    color:        $primary-color;
    font-style:   italic;
  }

  // Responsive type scaling.
  // See http://typecast.com/blog/a-more-modern-scale-for-web-typography
  @include media-xs-down {
    font-size:    0.95rem;
    line-height:  1.5;

    h1          { font-size:  2.0em;    line-height:  1.25; }
    h2          { font-size:  1.6em;    line-height:  1.15; }
    h3          { font-size:  1.275em;  line-height:  1.14; }
    h4          { font-size:  1.125em;  line-height:  1.11; }
    blockquote  { font-size:  1.25em;   line-height:  1.25; }
  }
  @include media-sm-up {
    font-size:    1.0rem;
    line-height:  1.6;

    h1          { font-size:  2.5em;    line-height:  1.125;  }
    h2          { font-size:  2.0em;    line-height:  1.25;   }
    h3          { font-size:  1.5em;    line-height:  1.25;   }
    h4          { font-size:  1.125em;  line-height:  1.35;   }
    blockquote  { font-size:  1.25em;   line-height:  1.6;    }
  }
  @include media-md-up {
    font-size:    1.0rem;
    line-height:  1.6;

    h1          { font-size:  2.5em;    line-height:  1.125;  }
    h2          { font-size:  2.0em;    line-height:  1.25;   }
    h3          { font-size:  1.5em;    line-height:  1.25;   }
    h4          { font-size:  1.125em;  line-height:  1.35;   }
    blockquote  { font-size:  1.25em;   line-height:  1.6;    }
  }


  ////
  // Images

  img {
    box-shadow: 0 1px 10px rgba( 0, 0, 0, 0.3 );
    display:    block;
    height:     auto;
    margin:     0px auto;

    @include media-xs-down  { max-width:  250px; }
    @include media-sm-up    { max-width:  480px; }
    @include media-md-up    { max-width:  640px; }
  }


  ////
  // Links

  a {
    @include custom-link( $slate-blue, $red );
  }


  ////
  // Miscellaneous Elements

  hr {
    border-color: $border-color;
  }
}


////
// Article Headers

article.post, article.page {
  header, h1  { margin-top: 0px; }
  header      { border-bottom:  1px solid $border-color; }
}

article.page {
  h1 {
    margin-bottom:  0px;
    padding-bottom: 0px;
  }
}

article.post {
  h1 {
    margin-bottom:  0.1em;
  }

  .post-meta {
    color:      $secondary-color;
    font-style: italic;
  }
}