////
// Color Palette
$black:         black;
$chicago:       #615B5B;
$light-gray:    #CCC;
$lighter-gray:  #EEE;
$gray:          #888;
$red:           red;
$slate-blue:    #6A5ACD;
$white:         white;
$white-smoke:   #F5F5F5;


////
// Color Scheme
$background-color:  $white;
$primary-color:     $black;
$secondary-color:   $red;

$border-color:      $light-gray;


////
// Media Queries
$bootstrap-screen-sm-min: 768px;
$bootstrap-screen-md-min: 992px;
$bootstrap-screen-lg-min: 1200px;

$breakpoint-screen-tiny:  350px;
$breakpoint-screen-sm:    $bootstrap-screen-sm-min;
$breakpoint-screen-md:    $bootstrap-screen-md-min;
$breakpoint-screen-lg:    $bootstrap-screen-lg-min;


@mixin media-tiny-down {
  @media ( max-width: $breakpoint-screen-tiny - 1 ) { @content; }
}

@mixin media-xs-down {
  @media ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}
@mixin media-xs-down-landscape {
  @media (min-aspect-ratio: 1/1) and ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}
@mixin media-xs-down-portrait {
  @media (max-aspect-ratio: 1/1) and ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}

@mixin media-sm-up {
  @media ( min-width: $breakpoint-screen-sm ) { @content; }
}
@mixin media-sm-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-sm ) { @content; }
}
@mixin media-sm-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-sm ) { @content; }
}

@mixin media-md-up {
  @media ( min-width: $breakpoint-screen-md ) { @content; }
}
@mixin media-md-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-md ) { @content; }
}
@mixin media-md-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-md ) { @content; }
}

@mixin media-lg-up {
  @media ( min-width: $breakpoint-screen-lg ) { @content; }
}
@mixin media-lg-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-lg ) { @content; }
}
@mixin media-lg-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-lg ) { @content; }
}


////
// Typography
@import url( 'https://fonts.googleapis.com/css?family=Comfortaa|Shadows+Into+Light+Two|Questrial' );

.fancy-font {
  color:          $primary-color;
  font-family:    'Shadows Into Light Two', fantasy;
  font-variant:   small-caps;
  letter-spacing: 0.2em;
}

.heading-font {
  color:          $primary-color;
  font-family:    'Comfortaa', fantasy;
}

.content-font {
  color:        $chicago;
  font-family:  'Questrial', sans-serif;
}


////
// Links
@mixin custom-link( $passive-color, $active-color ) {
  background-color: transparent;
  color:            $passive-color;

  &:active, &:focus, &:hover {
    background-color: transparent;
    color:            $active-color;
    text-decoration:  none;
  }
}
.link-black-and-red {
  @include custom-link( $black, $red );
}


////
// Positioning
@mixin vertical-center {
  display:          -webkit-flex;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
}
.vertical-center {
  @include vertical-center;
}