////
// Variables
$footer-background-color:   $lighter-gray;
$footer-height:             100px;
$footer-height-xs:          120px;

$header-height:             50px;
$header-padding-top:        15px;

$content-padding-bottom:    $footer-height;
$content-padding-bottom-xs: $footer-height-xs;
$content-padding-top:       $header-height + $header-padding-top + 1px; // 1px is for nav border
$content-padding-top-xs:    $header-height + 1px;                       // 1px is for nav border

////
// Page
html, body {
  background-color: $background-color;
  font-size:        16px;               // Root font size.
  height:           100%;
}

////
// Content
main, main.container {
  min-height:     100%;

  @include media-sm-up {
    padding-bottom: $content-padding-bottom;
    padding-top:    $content-padding-top;
  }

  @include media-xs-down {
    padding-bottom: $content-padding-bottom-xs;
    padding-left:   5px;
    padding-right:  5px;
    padding-top:    $content-padding-top-xs;
   }
}


////
// Header
#header {
  @extend           .fancy-font;
  background-color: $background-color;

  a {
    @extend .link-black-and-red;
  }

  nav {
    min-height: $header-height;
    padding:    0;
  }

  .navbar-brand {
    font-size:    28px;
    font-weight:  bolder;
    padding-left: 0px;
  }

  .navbar-nav {
    font-size:    11px;
    font-weight:  bolder;
  }

  // Non-collapsed navbar.
  @include media-sm-up {
    border:         none;
    margin-bottom:  -$content-padding-top;
    padding-top:    $header-padding-top;

    nav {
      border-bottom:  1px solid $border-color;
    }
  }

  // Collapsed navbar.
  @include media-xs-down {
    margin-bottom:  -$content-padding-top-xs;

    .navbar-header button {
      margin-right: 0;
    }
  }
}


////
// Footer
#footer {
  @extend .fancy-font;
  @extend .vertical-center;
  background-color: $footer-background-color;
  font-size:        0.8rem;
  font-weight:      bolder;
  height:           $footer-height;
  margin-bottom:    0px;
  margin-top:       -$content-padding-bottom;
  width:            100%;

  a {
    @include custom-link( $red, $red )
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }

  .footer-item {
    display:  inline-block;
    margin:   3px auto;
  }

  #footer-built-with {
    width: 100%;
  }

  #footer-email {
    border-right:   1px solid $border-color;
    padding-right:  6px;
  }

  #footer-copyright, #footer-location {
    width: 100%;
  }

  .icon-github svg {
    margin-bottom: -3px;
  }

  // Footer on mobile.
  @include media-xs-down {
    height:     $footer-height-xs;
    margin-top: -$content-padding-bottom-xs;

    .footer-left, .footer-right { text-align: center; }
  }
}