#blog-index {
  .post-list {
    li { list-style: none; }

    p {
      display:  inline;
    }

    .post-date { padding-right: 1em; }

    a {
      &:active, &:focus, &:hover {
        .post-title { color: $secondary-color; }
      }
    }
  }
}
