#blog-index {
  .post-list {
    li  { list-style: none; }
    p   { margin:     0.3em auto; }

    .post-title {
      @extend .heading-font;
    }

    a {
      @include clear-link-decorations;

      &:active, &:focus, &:hover {
        .post-title { color: $secondary-color; }
      }
    }
  }

  .year { color: $secondary-color; }
}