// Use all of the space on mobile.
@include media-xs-down {
  main.homepage-container { padding-top: 20px; }
}

#homepage {
  // Vertical Alignment - Landscape
  @include media-xs-down-landscape {
    #splash { margin-top: 4%; }
  }
  @include media-sm-up-landscape {
    #splash { margin-top: 15%; }
  }
  @include media-md-up-landscape {
    #splash { margin-top: 10%; }
  }
  @include media-lg-up-landscape {
    #splash { margin-top: 10%; }
  }
  // Vertical Alignment - Portrait
  @include media-xs-down-portrait {
    #splash { margin-top: 10%; }
  }
  @include media-sm-up-portrait {
    #splash { margin-top: 25%; }
  }
  @include media-md-up-portrait {
    #splash { margin-top: 20%; }
  }
  @include media-lg-up-portrait {
    #splash { margin-top: 20%; }
  }

  #splash {
    @extend         .fancy-font;
    margin-bottom:  5px;
    text-align:     center;

    #name {
      font-size:    32px;
      font-weight:  bolder;
      margin:       0 auto;
    }

    #occupation {
      font-size:      16px;
      margin:         5px auto 10px;
    }

    a {
      @extend .link-black-and-red;
    }

    hr {
      border-top: 1px solid $border-color;
      margin:     8px auto;
    }

    .nav {
      li {
        font-size:    11px;
        font-weight:  bolder;

        @include media-sm-up {
          display: inline-block;

          a { width: 125px; }
        }
      }
    }
  }
}