// Use all of the space on mobile.
@include media-xs-down {
  main.homepage-container { padding-top: 20px; }
}

#homepage {
  // Vertical Alignment - Landscape
  @include media-xs-down-landscape {
    #splash { margin-top: 4%; }
  }
  @include media-sm-up-landscape {
    #splash { margin-top: 15%; }
  }
  @include media-md-up-landscape {
    #splash { margin-top: 10%; }
  }
  @include media-lg-up-landscape {
    #splash { margin-top: 10%; }
  }
  // Vertical Alignment - Portrait
  @include media-xs-down-portrait {
    #splash { margin-top: 10%; }
  }
  @include media-sm-up-portrait {
    #splash { margin-top: 25%; }
  }
  @include media-md-up-portrait {
    #splash { margin-top: 20%; }
  }
  @include media-lg-up-portrait {
    #splash { margin-top: 20%; }
  }


  ////
  // Brand and Nav

  #splash {
    @extend         .fancy-font;
    text-align:     center;

    #name {
      font-size:    32px;
      font-weight:  bolder;
      margin:       0 auto;
    }

    #occupation {
      font-size:      16px;
      font-weight:    bolder;
      margin:         5px auto 0;
      padding-bottom: 10px;
    }

    a {
      @extend .link-black-and-red;
    }

    .nav {
      padding:    5px 0;
      border-top: 1px solid $border-color;

      li {
        font-size:      12px;
        font-weight:    bolder;
        text-transform: uppercase;

        @include media-sm-up {
          display: inline-block;

          a { width: 100px; }
        }
      }
    }
  }


  ////
  // Featured Posts

  #featured-posts {
    // padding:    50px 0;
    text-align: center;

    li  { list-style: none; }
  }
}