.post-preview{
  .post-title {
    @extend         .fancy-font;
    font-size:      12px;
    font-weight:    bolder;
    text-transform: uppercase;
  }

  .post-date, .post-description {
    @extend .content-font;
  }

  .post-date {
    color:      $secondary-color;
    font-size:  0.8em;
    font-style: italic;
  }

  a {
    @include clear-link-decorations;

    &:active, &:focus, &:hover {
      .post-description { color: $primary-color; }
    }
  }
}