////
// Color Palette
$black:         black;
$light-gray:    #CCC;
$lighter-gray:  #EEE;
$red:           red;
$white:         white;


////
// Color Scheme
$background-color:  $white;
$primary-color:     $black;
$secondary-color:   $red;

$border-color: $light-gray;


////
// Media Queries
$bootstrap-screen-sm-min: 768px;
$bootstrap-screen-md-min: 992px;
$bootstrap-screen-lg-min: 1200px;

$breakpoint-screen-tiny:  350px;
$breakpoint-screen-sm:    $bootstrap-screen-sm-min;
$breakpoint-screen-md:    $bootstrap-screen-md-min;
$breakpoint-screen-lg:    $bootstrap-screen-lg-min;


@mixin media-tiny-down {
  @media ( max-width: $breakpoint-screen-tiny - 1 ) { @content; }
}

@mixin media-xs-down {
  @media ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}
@mixin media-xs-down-landscape {
  @media (min-aspect-ratio: 1/1) and ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}
@mixin media-xs-down-portrait {
  @media (max-aspect-ratio: 1/1) and ( max-width: $breakpoint-screen-sm - 1 ) { @content; }
}

@mixin media-sm-up {
  @media ( min-width: $breakpoint-screen-sm ) { @content; }
}
@mixin media-sm-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-sm ) { @content; }
}
@mixin media-sm-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-sm ) { @content; }
}

@mixin media-md-up {
  @media ( min-width: $breakpoint-screen-md ) { @content; }
}
@mixin media-md-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-md ) { @content; }
}
@mixin media-md-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-md ) { @content; }
}

@mixin media-lg-up {
  @media ( min-width: $breakpoint-screen-lg ) { @content; }
}
@mixin media-lg-up-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-lg ) { @content; }
}
@mixin media-lg-up-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $breakpoint-screen-lg ) { @content; }
}


////
// Typography
@import url( 'https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' );
.fancy-font {
  font-family:    'Shadows Into Light Two', fantasy;
  font-variant:   small-caps;
  letter-spacing: 0.2em;
}

@import url( 'https://fonts.googleapis.com/css?family=Ubuntu' );
.heading-font {
  font-family:  'Ubuntu', sans-serif;
}

@import url( 'https://fonts.googleapis.com/css?family=Roboto' );
.content-font {
  font-family:  'Roboto', sans-serif;
}


////
// Links
a {
  background-color: transparent;
  &:active, &:focus, &:hover {
    background-color: transparent;
    color:            $secondary-color;
    text-decoration:  none;
  }
}


////
// Nav
.nav li > a, .navbar-default .navbar-brand, .navbar-default .navbar-nav li > a {
    @extend a;
    color:  $primary-color;
}


////
// Positioning
@mixin vertical-center {
  display:          -webkit-flex;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
}
.vertical-center {
  @include vertical-center;
}


////
// Special Effects
@mixin inset-box {
  border-radius:  5px;
  box-shadow:     inset 0 1px 10px rgba( 0, 0, 0, 0.3 ), 0 1px 0 rgba( 255, 255, 255, 0.1 ), 0 -1px 0 rgba( 0, 0, 0, 0.5 );
}