////
// Color Palette
$black:         black;
$light-gray:    #CCC;
$lighter-gray:  #EEE;
$red:           red;
$white:         white;


////
// Color Scheme
$background-color:  $white;
$primary-color:     $black;
$secondary-color:   $red;

$border-color: $light-gray;


////
// Media Queries
$bootstrap-screen-sm-min: 768px;
$bootstrap-screen-md-min: 992px;
$bootstrap-screen-lg-min: 1200px;

@mixin media-xs {
  @media ( max-width: $bootstrap-screen-sm-min ) { @content; }
}
@mixin media-xs-landscape {
  @media (min-aspect-ratio: 1/1) and ( max-width: $bootstrap-screen-sm-min ) { @content; }
}
@mixin media-xs-portrait {
  @media (max-aspect-ratio: 1/1) and ( max-width: $bootstrap-screen-sm-min ) { @content; }
}

@mixin media-sm {
  @media ( min-width: $bootstrap-screen-sm-min ) { @content; }
}
@mixin media-sm-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-sm-min ) { @content; }
}
@mixin media-sm-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-sm-min ) { @content; }
}

@mixin media-md {
  @media ( min-width: $bootstrap-screen-md-min ) { @content; }
}
@mixin media-md-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-md-min ) { @content; }
}
@mixin media-md-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-md-min ) { @content; }
}

@mixin media-lg {
  @media ( min-width: $bootstrap-screen-lg-min ) { @content; }
}
@mixin media-lg-landscape {
  @media (min-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-lg-min ) { @content; }
}
@mixin media-lg-portrait {
  @media (max-aspect-ratio: 1/1) and ( min-width: $bootstrap-screen-lg-min ) { @content; }
}


////
// Fonts
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
.fancy-font {
  font-family:    'Shadows Into Light Two', fantasy;
  font-variant:   small-caps;
  letter-spacing: 0.2em;
}


////
// Links
a {
  background-color: transparent;
  color:            $primary-color;
  &:active, &:focus, &:hover {
    background-color: transparent;
    color:            $secondary-color;
    text-decoration:  none;
  }
}


////
// Nav
.nav {
  li > a {
    @extend a;
  }
}
.navbar-default {
  .navbar-brand {
    @extend a;
  }

  .navbar-nav {
    li > a {
      @extend a;
    }
  }
}


////
// Positioning
@mixin vertical-center {
  display:          -webkit-flex;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
}
.vertical-center {
  @include vertical-center;
}