////
// Variables
$footer-min-height:       30px;
$header-min-height:       50px;
$nav-padding-vertical:    15px;
$navbar-brand-width:      240px;
$navbar-menu-item-width:  95px;
$content-padding-top:     $header-min-height + ( 2 * $nav-padding-vertical );

html, body, main, .page {
  background-color: $background-color;
  height:           100%;
}

main {
  padding-bottom: $footer-min-height;
  padding-top:    $header-min-height;
  @include media-sm { padding-top: $content-padding-top; }
}

////
// Header
#header.navbar-default {
  @extend           .fancy-font;
  background-color: $background-color;
  border:           none;
  color:            $primary-color;
  min-height:       $header-min-height;
  text-align:       center;

  nav {
    // border-bottom:  1px solid $border-color;
    min-height:     $header-min-height;
  }

  .navbar-brand {
    font-size:    2.2em;
    font-weight:  bolder;
  }

  .navbar-nav {
    font-size:    0.9em;
    font-weight:  bolder;
  }

  // Non-collapsed navbar.
  @include media-sm {
    nav {
      padding-bottom: $nav-padding-vertical;
      padding-top:    $nav-padding-vertical;
    }

    .navbar-header {
      margin-bottom:  -$header-min-height;
      text-align:     center;
      width:          100%;
    }

    .navbar-brand {
      display:  inline-block;
      float:    none;
      margin:   0px;
      position: relative;
      width:    $navbar-brand-width;
      z-index:  100;
    }

    .navbar-nav {
      width:      100%;
      text-align: center;

      a {
        padding-bottom: 13px;
        padding-top:    17px;
      }

      li {
        display:  inline-block;
        float:    none;
        width:    $navbar-menu-item-width;

        &.left-of-brand {
          margin-right: $navbar-brand-width / 2;
        }
        &.right-of-brand {
          margin-left:  $navbar-brand-width / 2;
        }
      }
    }
  }
}

////
// Footer
#footer {
  min-height: $footer-min-height;
}