////
// Variables
$footer-background-color:   $lighter-gray;
$footer-height:             100px;
$footer-height-xs:          120px;

$header-min-height:         50px;
$nav-padding-vertical:      15px;
$navbar-brand-width:        240px;
$navbar-menu-item-width:    95px;

$content-margin-top:        20px;
$content-padding-top:       $header-min-height + ( 2 * $nav-padding-vertical ) + $content-margin-top;
$content-padding-top-xs:    $header-min-height + $content-margin-top;
$content-padding-bottom:    $footer-height;
$content-padding-bottom-xs: $footer-height-xs;

////
// Page
html, body {
  background-color: $background-color;
  font-size:        16px;               // Root font size.
  height:           100%;
}

////
// Content
main, main.container {
  min-height:     100%;
  padding-bottom: $content-padding-bottom;
  padding-top:    $content-padding-top;
  @include media-xs-down {
    padding-bottom: $content-padding-bottom-xs;
    padding-left:   5px;
    padding-right:  5px;
    padding-top:    $content-padding-top-xs;
   }
}

////
// Header
#header {
  @extend           .fancy-font;
  background-color: $background-color;
  border:           none;
  color:            $primary-color;
  min-height:       $header-min-height;
  text-align:       center;

  nav {
    // border-bottom:  1px solid $border-color;
    min-height:     $header-min-height;
  }

  .navbar-brand {
    font-size:    1.92rem;
    font-weight:  bolder;
  }

  .navbar-nav {
    font-size:    0.8rem;
    font-weight:  bolder;
  }

  // Collapsed navbar.
  @include media-xs-down {
    nav           { border-bottom:  1px solid $border-color; }
    .navbar-brand { font-size:      1.6rem; }
    .navbar-nav   { text-align:     left; }
  }

  // Non-collapsed navbar.
  @include media-sm-up {
    nav {
      padding-bottom: $nav-padding-vertical;
      padding-top:    $nav-padding-vertical;
    }

    .navbar-header {
      margin-bottom:  -$header-min-height;
      text-align:     center;
      width:          100%;
    }

    .navbar-brand {
      display:  inline-block;
      float:    none;
      margin:   0px;
      position: relative;
      width:    $navbar-brand-width;
      z-index:  100;
    }

    .navbar-nav {
      width:      100%;
      text-align: center;

      a {
        padding-bottom: 13px;
        padding-top:    17px;
      }

      li {
        display:  inline-block;
        float:    none;
        width:    $navbar-menu-item-width;

        &.left-of-brand {
          margin-right: $navbar-brand-width / 2;
        }
        &.right-of-brand {
          margin-left:  $navbar-brand-width / 2;
        }
      }
    }
  }
}

////
// Footer
#footer {
  @extend .fancy-font;
  @extend .vertical-center;
  background-color: $footer-background-color;
  font-size:        0.8rem;
  font-weight:      bolder;
  height:           $footer-height;
  margin-bottom:    0px;
  margin-top:       -$content-padding-bottom;
  width:            100%;

  a {
    color:  $secondary-color;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }

  .footer-item {
    display:  inline-block;
    margin:   3px auto;
  }

  #footer-built-with {
    width: 100%;
  }

  #footer-email {
    border-right:   1px solid $border-color;
    padding-right:  6px;
  }

  #footer-copyright, #footer-location {
    width: 100%;
  }

  .icon-github svg {
    margin-bottom: -3px;
  }

  // Footer on mobile.
  @include media-xs-down {
    height:     $footer-height-xs;
    margin-top: -$content-padding-bottom-xs;

    .footer-left, .footer-right { text-align: center; }
  }
}